@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700');


body {font-family: 'Montserrat', sans-serif; font-size: 16px;}
a {text-decoration: none;}
* {box-sizing: border-box;}
.wrapper {max-width: 1200px; width: 100%; margin: 0 auto;}
.clr {clear: both; content: ''; display: table;}
.fl {float: left;}
.fr {float: right;}
a.btn {display: inline-block; width: 300px; height: 80px; line-height: 80px; text-align: center; color: #fff; font-size: 24px; font-weight: 300; box-shadow: -20px 20px 30px rgba(0,0,0,0.2);}
button.btn {border: none; cursor: pointer; display: inline-block; width: 300px; height: 80px; line-height: 80px; text-align: center; color: #fff; font-size: 24px; font-weight: 300; box-shadow: -20px 20px 30px rgba(0,0,0,0.2);}
a.btn-small {display: inline-block; width: 200px; height: 60px; line-height: 60px; font-size: 18px; text-align: center; font-weight: 300; color: #fff;}
a.btn-plus {position: absolute; display: inline-block; width: 48px; height: 48px; background: url(../images/btn-plus.png) no-repeat center;}
a.pink {background: #c91586;}
a.black {background: #000;}
button.black {background: #000;}
a.white {background: #fff; color: #000;}
.bg-pink {background: #c91586;}
.bg-white {background: #fff;}
.bg-black {background: #000;}


.hr-shadow {box-shadow: 0px 2px 2px #d4d4d4;}
.h-line.black hr {border: 1px solid #000;}
.h-line.center {margin: 0 auto;}

.page-title {font-weight: 300; font-size: 24px; line-height: 32px; color: #c91586;}




/**************HEADER****/

header.home {background: url(../images/home-header.jpg) no-repeat top center; width: 100%; background-size: cover; height: 800px; position: relative;}
nav.navigation {width: 100%; top: 0; position: fixed; z-index: 999999; padding-top: 15px; transition: all .5s;}
nav.navigation .logo {margin-left: 45px; padding-top: 15px;}
nav.navigation .logo a {background: url(../images/logo3.png) no-repeat top center; display: block; width: 216px; height: 75px;}
nav.navigation .menu {margin-right: 50px; padding-top: 15px;}
nav.navigation .menu a {background: url(../images/menu.png) no-repeat top center; display: block; width: 76px; height: 63px;}

header.home .header-title h1 {font-weight: 600; font-size: 64px; text-transform: uppercase; padding-top: 150px; margin-bottom: 320px;}

.header-buttons .sales {display: inline-block; margin-right: 16px;}
.header-buttons .btn-support {display: inline-block;}




/*******************FOOTER*****/

.footer {width: 100%; background: #000; padding: 90px 0 25px 0; color: #fff; }
.footer p { font-weight: 400; line-height: 24px; font-size: 18px;}
.footer h3 {font-size: 32px; line-height: 40px; font-weight: 500; padding-bottom: 45px;}
.footer .footer-top > ul > li {max-width: 300px; width: 100%; float: left; margin-right: 145px;}
.footer .footer-top > ul > li:last-child {margin-right: 0;}

.footer .footer-top > ul > li.contact ul li p.location {padding-left: 40px; background: url(../images/location.png) no-repeat top left;}
.footer .footer-top > ul > li.contact ul li p.location a.btn {margin-top: 15px; width: 200px; height: 60px; font-size: 18px; line-height: 60px; margin-bottom: 30px;}
.footer .footer-top > ul > li.contact ul li p.phone {padding-left: 40px; background: url(../images/tel.png) no-repeat top left;}
.footer .footer-top > ul > li.contact ul li p.fax {padding-left: 40px; background: url(../images/fax.png) no-repeat top left;}
.footer .footer-top > ul > li.contact ul li p.email {padding-left: 40px; background: url(../images/email.png) no-repeat top left;}
.footer .footer-top > ul > li.contact ul li p.email a {color: #fff;}
.footer .footer-top > ul > li.contact ul li p {padding-bottom: 25px;}

.footer .footer-top > ul > li.subscribe h3 {text-align: center;}
.footer .footer-top > ul > li.subscribe input[type="text"] {width: 300px; height: 80px; background: #fff; border: none; margin-bottom: 25px; font-size: 24px; text-align: center;}
.footer .footer-top > ul > li.subscribe input::placeholder {color: #ccc;}
.footer .footer-top > ul > li.subscribe button {background: #c91586; width: 300px; height: 80px; text-align: center; color: #fff; font-size: 24px; font-weight: 400; border: none; padding: 0 30px;}
.footer .footer-top > ul > li.subscribe button:hover {cursor: pointer;}

.footer .footer-top > ul > li.connect a.socials {font-size: 45px; text-align: center; line-height: 80px; display: inline-block; width: 80px; height: 80px; background: #c91586; color: #000; margin-right: -3px; margin-bottom: 35px;}
.footer .footer-top > ul > li.connect p {margin-bottom: 28px;}

.footer .footer-bottom {max-width: 750px; width: 100%; margin: 0 auto;}
.footer .footer-bottom h3 {text-align: center; padding-bottom: 40px; padding-top: 60px; }
.footer .footer-bottom ul {text-align: center;}
.footer .footer-bottom ul li {display: inline-block; margin-right: 35px;}
.footer .footer-bottom ul li:last-child {margin-right: 0;}

.footer .copyright p {font-size: 16px; line-height: 40px; color: #fff; margin-top: 60px; margin-left: 30px;}




/***************HOME****/

/****************VETERINARY****/

#home .veterinary {margin: 0 auto; text-align: center; padding: 70px 0; color: #fff}
#home .veterinary h2 {font-size: 64px; line-height: 64px; font-weight: 500; text-transform: uppercase;}
#home .veterinary h4 {font-size: 32px; line-height: 40px; font-weight: 400; text-transform: uppercase; margin-top: 30px;}
#home .veterinary .hl {margin: 40px 0 35px 0;}
#home .veterinary p {font-weight: 400; padding: 0 180px; font-size: 18px; line-height: 24px; margin-bottom: 80px;}
#home .veterinary .vet-icons ul li {display: inline-block; margin-right: 110px; position: relative;}
#home .veterinary .vet-icons ul li:last-child {margin-right: 0;}
#home .veterinary .vet-icons ul li img {margin-bottom: 40px;}
#home .veterinary .vet-icons ul li h5 {font-weight: 400; font-size: 18px; line-height: 24px; text-transform: uppercase; }
#home .veterinary .vet-icons ul li a.btn-plus {position: absolute; display: inline-block; width: 48px; height: 48px; background: url(../images/btn-plus.png) no-repeat center; left: 0; right: 0; margin: auto; bottom: -95px;}



/*******************PRINTER****/

#home .printer {width: 100%; background: #fff; color: #000; }
#home .printer .printer-left {max-width: 590px; width: 100%; padding-top: 110px;}
#home .printer .printer-left h3 {font-size: 32px; line-height: 40px; font-weight: 400; text-transform: uppercase; margin-bottom: 20px;}
#home .printer .printer-left h2 {font-size: 64px; line-height: 64px; }
.h-line {padding: 40px 0; width: 400px;}
.h-line hr {border: 1px solid #c91586; }
#home .printer .printer-left p {font-size: 18px; line-height: 24px; font-weight: 400; padding-right: 120px; margin-bottom: 80px;}
/*
#home .printer .printer-right {background: url(../images/printer-bg.png) no-repeat center center; width: 790px; height: 799px;}*/

#home .printer {background: #fff url(../images/printer-bg.png) no-repeat center right; height: 799px;}


/*******************SUPPORT****/

.support {width: 100%; background: #000 url(../images/support-bg.png) no-repeat center right; height: 640px; color: #fff;}
.support .support-wrap {position: relative; max-width: 700px; width: 100%; margin: 0 auto; text-align: center; padding-top: 80px;}
.support .support-wrap h2 {font-size: 64px; line-height: 64px; font-weight: 500; text-transform: uppercase;}
.support .support-wrap .h-line {margin: 0 auto;}
.support .support-wrap p {font-size: 18px; line-height: 24px; font-weight: 400; margin-bottom: 80px;}
.support .support-wrap .support-btns a.pink {margin-right: 35px;}
.support .support-wrap .support-logo {position: absolute; left: 0; right: 0; margin: auto; height: 80px; width: 80px; bottom: -272px; background: #fff; padding: 25px; border: 20px solid #000; display: inline-block; border-radius: 100px;}



/****************BLOG***/

.blog {padding: 120px 0 65px 0; width: 100%; background: #fff; color: #000;}
.blog .blog-title {margin: 0 auto; text-align: center;}
.blog .blog-title h2 {font-size: 32px; line-height: 40px; font-weight: 400; text-transform: uppercase;}
.blog .h-line {margin: 0 auto; padding-bottom: 70px;}
.blog .h-line hr {border: 1px solid #000;}
.blog .blog-posts {margin: 0 auto; width: 100%;}



.blog .blog-posts ul {text-align: center;}
.blog .blog-posts ul li {position: relative; display: inline-block; max-width: 350px; width: 100%; height: 370px; box-sizing: border-box; text-align: center; margin-right: 40px; }
.blog .blog-posts ul li:last-child {margin-right: 0;}
.blog .blog-posts ul li .blog-title {position: absolute; top: 0;}
.blog .blog-posts ul li .blog-title h3 {font-size: 32px; line-height: 40px; color: #c91586;}
.blog .blog-posts ul li .blog-text {position: absolute; bottom: 0;}
.blog .blog-posts ul li .blog-text p {font-size: 18px; line-height: 24px; font-weight: 400; }
.blog .blog-posts ul li .blog-text a {color: #c91586;}
.blog .blog-posts .read-blog {margin: 0 auto; width: 300px; margin-top: 65px;}







/*********************ABOUT*****/

header.about {background: url(../images/about-header.jpg) no-repeat top center; width: 100%; background-size: cover; height: 800px; position: relative; padding-top: 160px;}
header.about .about-heading {max-width: 700px; width: 100%;}
.about-heading h4 {font-size: 24px; line-height: 32px; font-weight: 400; color: #c91586; margin-bottom: 45px; margin-left: 10px;}
.about-heading h1 {font-size: 64px; line-height: 64px; font-weight: 600; margin-bottom: 40px;}
header.about .about-heading p {font-size: 24px; line-height: 32px; font-weight: 400;}

#about {width: 100%; background: #fff; color: #000;}

/**************VET HOSPITALS***/

#about .vet-hospitals {width: 100%; padding: 70px 0;}
#about .vet-hospitals .vet-heading {max-width: 990px; width: 100%; text-align: center; margin: 0 auto;}
#about .vet-hospitals .vet-heading h3 {font-size: 32px; line-height: 40px; font-weight: 400; color: #c91586; margin-bottom: 30px;}
#about .vet-hospitals .vet-heading h2 {font-size: 64px; line-height: 64px; font-weight: 500; color: #c91586; margin-bottom: 60px;}
#about .vet-hospitals .vet-heading p {font-size: 18px; line-height: 24px; font-weight: 400; padding: 0 60px;}



/********************VET SERVICES***/

#about .vet-services {width: 100%; padding: 70px 0;}
#about .vet-services ul {width: 100%; text-align: center;}
#about .vet-services ul li {max-width: 280px; width: 100%; height: 400px; box-sizing: border-box; text-align: center; padding: 0 20px; float: left; box-shadow: 0 0 15px #ccc; margin-right: 20px; margin-bottom: 20px;}
#about .vet-services ul li:nth-child(4) {margin-right: 0;}
#about .vet-services ul li .service-logo {height: 180px; box-sizing: border-box; width: 100%; padding-top: 55px;}
#about .vet-services ul li p {font-size: 16px; line-height: 24px; font-weight: 400;}
#about .vet-services ul li.last-li {background: #c91586; }
#about .vet-services ul li.last-li p {color: #fff; margin-bottom: 65px;}
#about .vet-services ul li.last-li a.black {margin-bottom: 30px;}




/******************ABOUT US****/

#about .about-us {padding-top: 70px; max-width: 990px; width: 100%; margin: 0 auto;}
#about .about-us .about-us-headline {width: 100%; text-align: center;}
#about .about-us .about-us-headline h2 {font-size: 64px; line-height: 64px; font-weight: 500; margin-bottom: 75px;}
#about .about-us .about-us-text {width: 100%; text-align: center; padding-bottom: 55px;}
#about .about-us .about-us-text p {font-size: 18px; line-height: 24px; font-weight: 400; padding: 0 30px;}
#about .about-us .pute-us-logos {width: 100%; text-align: center;}
#about .about-us .pute-us-logos ul {width: 100%;}
#about .about-us .pute-us-logos ul li {display: inline-block; margin-right: 100px; position: relative; max-width: 220px; width: 100%; margin-bottom: 30px;}
#about .about-us .pute-us-logos ul li:last-child {margin-right: 0;}
#about .about-us .pute-us-logos ul li .image {position: relative; top: 0; width: 100%; }
#about .about-us .pute-us-logos ul li .pink-circle {position: absolute; width: 20px; height: 20px; background: #c91586; border-radius: 100px; right: 0; left: 0; margin: auto; bottom: -41px;}

#about .about-us-line {width: 100%; border-bottom: 2px solid #c91586;}

#about .about-us.no-padd {padding-top: 0; padding-bottom: 170px;}
#about .about-us .about-bottom {width: 100%; text-align: center;}
#about .about-us ul.ul-about-us {width: 100%; }
#about .about-us ul.ul-about-us li {display: inline-block; width: 220px; height: 210px; margin-right: 100px; text-align: center; vertical-align: top; padding-top: 30px;}
#about .about-us ul.ul-about-us li:last-child {margin-right: 0;}
#about .about-us ul.ul-about-us li span {font-size: 18px; line-height: 24px; font-weight: 500; margin-bottom: 20px; display: block;}
#about .about-us ul.ul-about-us li p {font-size: 16px; line-height: 24px; font-weight: 400;}



/******************COMMENTS***/

#about .comments {width: 100%; background: #c91586; color: #fff; padding: 80px 0;}
#about .comments .comments-headline {text-align: center; width: 100%; margin-bottom: 90px;}
#about .comments .comments-headline h2 {font-size: 64px; line-height: 64px; font-weight: 500;}
#about .comments .comments-text {width: 100%; text-align: center; margin-bottom: 50px;}
#about .comments .comments-text p {padding: 0 80px; font-size: 18px; line-height: 24px; font-weight: 400;}
#about .comments .client {width: 100%; text-align: center;}
#about .comments .client p {font-size: 18px; line-height: 24px; font-weight: 500;}
#about .comments .client p.name {margin-bottom: 30px;}
#about .comments .client a {color: #fff; font-weight: 400; display: inline-block; margin-top: 5px;}






/**************SERVICES****/

#services {width: 100%; background: #fff; color: #000; padding-top: 160px;}
#services .services-heading h4 {font-size: 24px; line-height: 32px; font-weight: 400; color: #c91586; margin-bottom: 55px; margin-left: 10px;}
/*#services .services-list {width: 100%;}
#services .services-list ul {width: 100%; padding-bottom: 150px;}
#services .services-list ul li {position: relative; width: 280px; height: 280px; float: left; background: #c91586; color: #fff; margin-right: 20px;}
#services .services-list ul li:last-child {margin-right: 0;}
#services .services-list ul li .list-top {width: 100%; height: 125px; position: relative; top: 0; text-align: center; padding-top: 25px; box-sizing: border-box;}
#services .services-list ul li .list-top h4 {font-size: 24px; font-weight: 400; margin-bottom: 5px;}
#services .services-list ul li .list-top h3 {font-size: 32px; font-weight: 500; margin-bottom: 5px;}
#services .services-list ul li .list-bottom {position: relative; width: 100%; height: 150px; bottom: 0; text-align: center; box-sizing: border-box; padding-top: 5px;}
#services .services-list ul li .list-bottom a.btn-plus {margin: auto; left: 0; right: 0; bottom: -30px;} */

#services .services-heading h4 {font-size: 24px; line-height: 32px; font-weight: 400; color: #c91586; margin-bottom: 55px; margin-left: 10px;}
.services-list {width: 100%;}
.services-list ul {width: 100%;}
.services-list ul li a {display: block; width: 100%; height: 110px; color: #fff;}
.services-list ul li {overflow: hidden; float: left; max-width: 280px; width: 100%; height: 110px; background: #c91586; color: #fff; margin-right: 20px; margin-bottom: 20px;}
.services-list ul li:nth-child(4n) {margin-right: 0;}
.services-list ul li .ser-list-logo {float: left; width: 90px; height: 110px; text-align: center; line-height: 110px;}
.services-list ul li .ser-list-logo img {vertical-align: middle;}
.services-list ul li .serv-title {float: left; height: 110px; max-width: 190px; width: 100%; display: flex; align-items: center;}
.services-list ul li .serv-title .serv-title-inner h4 {font-weight: 500; font-size: 24px; line-height: 28px;}
.services-list ul li .serv-title .serv-title-inner h5 {font-weight: 300; font-size: 19px; line-height: 24px;}









/************IT SUPPORT***/

#services .it-support {width: 100%;}
#services .it-support .it-support-headline {padding-top: 35px; text-align: center; padding-bottom: 65px;}
#services .it-support .it-support-headline h2 {font-size: 64px; line-height: 64px; font-weight: 500; margin-bottom: 60px;}
#services .it-support .it-support-headline h3 {font-size: 32px; line-height: 40px; font-weight: 400;}
#services .it-support .it-support-headline h3 span {color: #c91586;}

#services .it-support .services-provided { padding-bottom: 50px; margin: 0 auto;}
#services .it-support .services-provided ul {max-width: 1170px; width: 100%; margin: 0 auto;}
#services .it-support .services-provided ul li {padding: 0 5px; text-align: center; float: left; margin-right: 20px; border: 1px solid #b3b3b3; width: 150px; height: 150px; box-sizing: border-box; margin-bottom: 20px; position: relative;}
#services .it-support .services-provided ul li:nth-child(7n) {margin-right: 0;}
#services .it-support .services-provided ul li .img-done {position: relative; height: 40px; width: 100%; box-sizing: border-box; }
#services .it-support .services-provided ul li .img-done img {position: absolute; right: 0; left: 0; margin: auto; top: -7px;}
#services .it-support .services-provided ul li .provided-text {position: relative; height: 100px; width: 100%; box-sizing: border-box;}
#services .it-support .services-provided ul li .provided-text p {font-size: 16px; line-height: 24px; font-weight: 400;}

#services .it-support .it-support-buttons {text-align: center; width: 100%; padding-bottom: 50px;}
#services .it-support .it-support-buttons a.pink {margin-right: 30px;}


/**************SYSTEMS***/

#services .systems {max-width: 600px; width: 100%; margin: 0 auto; padding-bottom: 70px;}
#services .systems .systems-headline {text-align: center; width: 100%; padding-bottom: 30px;}
#services .systems .systems-headline h3 {font-size: 32px; line-height: 40px; font-weight: 400; margin-bottom: 40px;}
#services .systems .systems-headline h3 span {color: #c91586;}
#services .systems .systems-headline p {font-size: 18px; line-height: 24px; font-weight: 400; padding: 0 50px;}
#services .systems .system-logos {width: 100%; text-align: center;}
#services .systems .system-logos ul li {display: inline-block; margin-bottom: 20px; margin-right: 20px;}





/******************CONSULTING****/

#services .consulting {padding: 80px 0; width: 100%; background: #c91586; color: #fff;}
#services .consulting .consulting-headline {width: 100%; text-align: center;}
#services .consulting .consulting-headline h4 {font-size: 32px; line-height: 40px; font-weight: 400; }
#services .consulting .consulting-headline h2 {font-size: 64px; line-height: 64px; font-weight: 500; margin: 30px 0 80px 0;}
#services .consulting .consulting-headline p {font-size: 18px; line-height: 24px; font-weight: 300; padding: 0 150px; text-align: center; margin-bottom: 55px;}
#services .consulting .business-items {width: 100%;}
#services .consulting .business-items h4 {text-align: center; font-size: 32px; line-height: 40px; font-weight: 400; margin-bottom: 45px;}
#services .consulting .business-items .business-items-list {width: 100%;}
#services .consulting .business-items .business-items-list ul li {min-height: 390px; box-shadow: 56px -12px 55px -42px rgba(0,0,0,.3); position: relative; float: left; max-width: 265px; width: 100%; margin-right: 35px; box-sizing: border-box; padding-right: 15px; padding-left: 5px; text-align: left;}
#services .consulting .business-items .business-items-list ul li::after {content: ""; position: absolute; width: 0; height: 0; border-top: 20px solid transparent; border-right: 20px solid transparent; border-bottom: 20px solid transparent; border-left: 20px solid #c91586; left: 100%; top: 30px;}
#services .consulting .business-items .business-items-list ul li:last-child {margin-right: 0; box-shadow: none;}
#services .consulting .business-items .business-items-list ul li .list-headline {width: 100%; height: 110px; box-sizing: border-box; padding-top: 25px;}
#services .consulting .business-items .business-items-list ul li .list-headline h5 {font-size: 18px; line-height: 24px; font-weight: 500;}
#services .consulting .business-items .business-items-list ul li .list-content {width: 100%; box-sizing: border-box;}
#services .consulting .business-items .business-items-list ul li .list-content p {font-size: 18px; font-weight: 300; line-height: 24px;}
#services .consulting .business-content {max-width: 900px; width: 100%; text-align: center; padding-top: 55px; padding-bottom: 65px; margin: auto;}
#services .consulting .business-content p {font-size: 18px; line-height: 24px; font-weight: 300; padding: 0 30px;}
#services .consulting .contact-us-btn {width: 100%; text-align: center;}





/*****************VETSHIELD**/

#services .vetshield {width: 100%; background: #fff; padding-top: 90px; padding-bottom: 125px;}
#services .vetshield .vet-headline {background: #fef500; padding: 40px 0;}
#services .vetshield .vet-headline .headline-bg {background: url(../images/rectangle-vetshield.png) repeat-x; height: 110px; position: relative;}
#services .vetshield .vet-headline .headline-bg .headline {position: absolute; left: 0; right: 0; margin: auto; max-width: 477px; width: 100%; text-align: center; background: #fef500; height: 110px;}
#services .vetshield .vet-headline .headline-bg .headline h2 {font-size: 64px; line-height: 64px; font-weight: 500; text-transform: uppercase; margin-top: -10px; margin-bottom: 25px;}
#services .vetshield .vet-headline .headline-bg .headline h4 {font-size: 32px; line-height: 40px; font-weight: 400; text-transform: uppercase;}

#services .vetshield .guard .guard-wrap {padding-top: 30px; width: 100%;}
#services .vetshield .guard .guard-wrap .guard-left {background: url(../images/knight.png) no-repeat; width: 360px; height: 688px}
#services .vetshield .guard .guard-wrap .guard-right {width: 780px; text-align: center; padding-top: 40px;}
#services .vetshield .guard .guard-wrap .guard-right h3 {font-size: 32px; line-height: 40px; font-weight: 400; margin-bottom: 40px;}
#services .vetshield .guard .guard-wrap .guard-right p {font-size: 18px; line-height: 24px; font-weight: 400; padding: 0 20px;}

#services .vetshield .guard .guard-list {width: 100%; padding-top: 15px; margin-bottom: 75px; height: 420px; box-shadow: 0px -10px 49px -23px rgba(0,0,0,.8);}
#services .vetshield .guard .guard-list ul {width: 100%; margin-left: 20px;}
#services .vetshield .guard .guard-list ul li {max-width: 280px; width: 100%; height: 400px; box-sizing: border-box; text-align: center; padding: 0 20px; float: left; box-shadow: 0 0 15px #ccc; margin-right: 20px;}
#services .vetshield .guard .guard-list ul li:last-child {margin-right: 0;}
#services .vetshield .guard .guard-list ul li .guard-li-top {height: 180px; box-sizing: border-box; padding-top: 40px; text-align: center;}
#services .vetshield .guard .guard-list ul li .guard-li-top h3 {font-size: 24px; line-height: 30px; font-weight: 500; color: #c91586;}
#services .vetshield .guard .guard-list ul li .guard-li-bottom p {font-size: 16px; line-height: 24px; font-weight: 400; }
#services .vetshield .guard .guard-contact {text-align: center; margin-bottom: 60px; width: 100%;}

#services .vetshield .backup {text-align: center;}
#services .vetshield .backup .vault-logo {margin-top: 30px; margin-bottom: 20px;}
#services .vetshield .backup .backup-content {max-width: 900px; width: 100%; margin: 0 auto; padding-bottom: 75px;}
#services .vetshield .backup .backup-content h4 {font-size: 32px; line-height: 40px; font-weight: 400; margin-bottom: 20px; color: #c91586;}
#services .vetshield .backup .backup-content p {font-size: 18px; line-height: 24px; font-weight: 400;}

#services .vetshield .how-works {text-align: center;}
#services .vetshield .how-works h4 {font-size: 32px; line-height: 40px; font-weight: 400; margin-bottom: 60px;}
#services .vetshield .how-works ul {width: 100%; margin-bottom: 60px;}
#services .vetshield .how-works ul li {max-width: 280px; width: 100%; text-align: center; display: inline-block; vertical-align: top; margin-right: 145px;}
#services .vetshield .how-works ul li:last-child {margin-right: 0;}
#services .vetshield .how-works ul li .monitor {padding-bottom: 30px;}
#services .vetshield .how-works ul li .content h5 {margin-bottom: 20px; font-size: 24px; line-height: 40px; font-weight: 600; color: #c91586;}
#services .vetshield .how-works ul li .content p {font-size: 16px; line-height: 24px; font-weight: 400;}
#services .vetshield .how-works h4 span {color: #c91586;}
#services .vetshield .how-works h4 span span.inner-span {font-weight: 600;}





/********************SUPPORT PAGE***/

header.support-page {background: url(../images/support-header.jpg) no-repeat top center; width: 100%; background-size: cover; height: 800px; position: relative; padding-top: 160px;}
header.support-page .header-buttons {margin-top: 75px;}

.support-header-content {padding: 65px 0 75px 0; width: 100%; background: #fff;}
.support-header-content .supp-text {width: 890px; margin: 0 auto; text-align: center;}
.support-header-content .supp-text p {font-size: 18px; line-height: 24px; font-weight: 300; padding: 0 15px;}

.rem-cust-support {width: 100%;}
.rem-cust-support .remote-support,
.rem-cust-support .customer-supprt {width: 50%; padding: 65px 0; min-height: 500px; color: #fff;}

.rem-cust-support .supp-wrap {text-align: center; max-width: 600px; width: 100%; box-sizing: border-box; padding: 0 80px;}
.rem-cust-support .supp-wrap h5 {margin: 35px 0 25px 0; font-size: 18px; line-height: 24px; font-weight: 500;}
.rem-cust-support .supp-wrap p {font-size: 18px; line-height: 24px; font-weight: 300; margin-bottom: 70px; padding: 0 14px;}






/**********************TECH MANAGERS***/

.tech-managers {width: 100%; background: #fff; padding: 100px 0 0 0;}
.tech-managers h1 {font-size: 64px; line-height: 64px; text-align: center; margin-bottom: 120px;}
.tech-managers .managers-box {max-width: 860px; width: 100%; box-sizing: border-box; margin: 0 auto;}
.tech-managers .managers-box .manager-info {max-width: 605px; width: 100%; margin-bottom: 90px;}
.tech-managers .managers-box .manager-info h3 {font-size: 32px; line-height: 40px; font-weight: 400; margin-bottom: 20px;}
.tech-managers .managers-box .manager-info p {font-size: 18px; line-height: 24px; font-weight: 400;}





/****************CONTACT***/

.contact-section {padding: 165px 0 80px 0;}
.contact-section h4 {font-size: 24px; line-height: 32px; font-weight: 400; color: #c91586; margin-left: 10px; margin-bottom: 30px;}
.contact-section .contact-crew {padding: 0 150px; box-sizing: border-box; width: 100%; text-align: center;}
.contact-section .contact-crew .contact-headline {max-width: 700px; width: 100%; margin: 0 auto; margin-bottom: 20px;}
.contact-section .contact-crew .contact-headline h2 {font-size: 64px; line-height: 64px; font-weight: 500; margin-bottom: 65px;}
.contact-section .contact-crew .contact-headline p {font-size: 24px; line-height: 32px; font-weight: 400;}
.contact-section .contact-crew .contact-form {padding-top: 45px; max-width: 885px; width: 100%; position: relative; margin: 0 auto; height: 770px; box-sizing: border-box;}
.contact-section .contact-crew .contact-form::before {content: ""; position: absolute; right: 100%; background: url(../images/bracket-open.png) no-repeat center center; max-width: 150px; width: 100%; height: 638px; top: 0;}
.contact-section .contact-crew .contact-form::after {content: ""; position: absolute; left: 100%; background: url(../images/bracket-close.png) no-repeat center center; max-width: 150px; width: 100%; height: 638px; top: 0;}
.contact-section .contact-crew .contact-form form {width: 95%; margin: 0 auto; }
.contact-section .contact-crew .contact-form form ul li {box-sizing: border-box; margin-bottom: 15px; display: block;}
.contact-section .contact-crew .contact-form form ul li span {display: inline-block; box-sizing: border-box;}
.contact-section .contact-crew .contact-form form ul li span.double {width: 48%; margin-right: 29px;}
.contact-section .contact-crew .contact-form form ul li span.double:last-child {margin-right: 0;}
.contact-section .contact-crew .contact-form form ul li span.facility {width: 100%;}
.contact-section .contact-crew .contact-form form ul li span.textarea {width: 100%;}
.contact-section .contact-crew .contact-form form ul li span.textarea textarea {width: 100%; resize: none;}
.contact-section .contact-crew .contact-form form ul li span input {color: #777; box-shadow: 0 0 15px #ccc; border: none; width: 100%; height: 80px; padding: 0 30px; box-sizing: border-box; font-size: 24px; line-height: 24px;}
.contact-section .contact-crew .contact-form form ul li span textarea {color: #777; box-shadow: 0 0 15px #ccc; border: none; height: 240px; box-sizing: border-box; padding: 30px 30px; font-size: 24px; line-height: 24px;}
.contact-section .contact-crew .contact-form form ul li span input::placeholder,
.contact-section .contact-crew .contact-form form ul li span textarea::placeholder {color: #d7d7d7;}
.contact-section .contact-crew .contact-form form ul li.li-btn {margin-top: 70px;}

.contact-phone {background: #c91586; color: #fff; padding: 40px 0 50px 0; text-align: center;}
.contact-phone h5 {font-size: 32px; line-height: 40px; font-weight: 300; margin-bottom: 20px;}
.contact-phone h2 {font-size: 64px; line-height: 64px; font-weight: 500;}
.contact-map {width: 100%; height: 365px;}






/***************BLOG 01 MAIN**/

header.blog-main-header {padding-top: 160px;}
header.blog-main-header h4 {font-size: 24px; line-height: 32px; font-weight: 400; color: #c91586; margin-left: 10px; margin-bottom: 30px;}
header.blog-main-header .blog-header-img {width: 100%;}
header.blog-main-header .blog-header-img img {width: 100%;}

.cat-overview {padding-top: 40px; padding-bottom: 40px; width: 100%;}
.cat-overview .wrapper {overflow: hidden;}
.cat-overview h2 {font-size: 64px; line-height: 64px; font-weight: 600; margin-bottom: 10px;}
.cat-overview span {display: block; font-size: 18px; line-height: 40px; margin-bottom: 35px; color: #c91586;}
.cat-overview p.cats-info {font-size: 24px; line-height: 32px; font-weight: 400; margin-bottom: 30px;}

.read-on {max-width: 590px; width: 100%; height: 60px; border-top: 1px solid #c91586; padding-top: 20px;}
.read-on a {font-size: 24px; line-height: 40px; color: #c91586;}

.blog-boxes {padding-bottom: 100px;}
.blog-boxes .boxes-list ul li {position: relative; max-width: 580px; width: 100%; height: 690px; float: left; margin-bottom: 30px; margin-right: 35px;}
.blog-boxes .boxes-list ul li:nth-child(2n) {margin-right: 0;}
.blog-boxes .boxes-list ul li .box-top .box-img {width: 100%; margin-bottom: 35px;}
.blog-boxes .boxes-list ul li .box-top .box-img img {width: 100%;}
.blog-boxes .boxes-list ul li .box-top .box-content h3 {font-size: 32px; line-height: 40px; font-weight: 600; margin-bottom: 20px;}
.blog-boxes .boxes-list ul li .box-top .box-content p {font-size: 18px; line-height: 24px;}
.blog-boxes .boxes-list ul li .read-on {position: absolute; bottom: 0;}

.blog-boxes .box-pages {text-align: center; padding-top: 70px;}
.blog-boxes .box-pages ul li {display: inline-block; color: #c9c9c9;}
.blog-boxes .box-pages ul li a {color: #c9c9c9; font-size: 18px; line-height: 24px; padding: 3px 5px;}
.blog-boxes .box-pages ul li a.page-active {color: #000;}
.blog-boxes .box-pages ul li.page-arrow {vertical-align: middle;}
.blog-boxes .box-pages ul li.page-arrow a {font-size: 35px;}
.blog-boxes .box-pages ul li.page-numbers {padding: 0 30px; vertical-align: middle;}
.blog-boxes .box-pages ul li.page-numbers a {margin: 0 3px;}





/***************BLOG 02 SINGLE**/

.cat-overview .share-socials {max-width: 150px; width: 100%; height: 590px; text-align: center; border-right: 1px solid #c91586; margin-right: 35px;}
.cat-overview .share-socials p {font-size: 16px; line-height: 40px;}
.cat-overview .share-socials .blog-socials a.socials {font-size: 24px; text-align: center; line-height: 40px; display: inline-block; width: 40px; height: 40px; background: #c91586; color: #fff; margin-right: -2px;}

.cat-overview-wrap {max-width: 850px; width: 100%;}
.cat-overview-wrap p {font-size: 18px; line-height: 24px; margin-bottom: 25px; padding-right: 50px;}

.cat-overview-wrap .prev-next {width: 100%; margin-top: 100px;}
.cat-overview-wrap .prev-next .prev-next-box {max-width: 320px; width: 100%; }
.cat-overview-wrap .prev-next .prev-next-box a {font-size: 24px; line-height: 40px; color: #c91586; text-transform: uppercase; margin-bottom: 25px; display: inline-block;}
.cat-overview-wrap .prev-next .prev-next-box h3 {font-size: 32px; line-height: 40px;}






/**********PRINTER PROGRAM**/
.printer-program {padding: 80px 0; background: #c91586; color: #fff;}
.printer-program h2 {font-size: 64px; line-height: 64px; font-weight: 500; text-align: center; text-transform: uppercase;}
.printer-program .printer-img {width: 100%;}
.printer-img .pr-img {width: 50%; float: left;}
.printer-img .pr-img img {width: 100%; position: relative; top: -40px;}
.printer-img .printer-text {width: 50%; float: left;  display: flex; align-items: center; height: 500px;}
.printer-img .printer-text .printer-text-inner p {margin-bottom: 50px; font-weight: 300; font-size: 19px; line-height: 24px; padding-right: 100px;}
.black-line {max-width: 400px; width: 100%; height: 2px; background: #000;}

.printer-checklist {width: 100%;}
.printer-checklist ul {width: 50%; padding: 0 60px;}
.printer-checklist ul li {padding-left: 55px; position: relative; font-weight: 300; font-size: 24px; line-height: 24px; margin-bottom: 15px;}
.printer-checklist ul li span {font-size: 19px;}
.printer-checklist ul li::before {content: ''; position: absolute; background: url(../images/done.png) no-repeat center center;
width: 36px; height: 27px; left: 0; top: -5px;}

.printer-program .printer-btns {text-align: center; margin-top: 70px;}
.printer-program .printer-btns a.btn.black {margin-right: 20px;}




/*************TELEPHONY**/
.telephony {padding: 80px 0 100px; background: #000; color: #fff;}
.tele-bg {background: url(../images/tele-bg.png) no-repeat center center; width: 1180px; height: 782px;}
.telephony h2 {font-size: 64px; line-height: 64px; font-weight: 500; text-align: center; text-transform: uppercase; margin-bottom: 60px;}
.tele-content .tele-txt {max-width: 800px; width: 100%; margin: 0 auto;}
.tele-content .tele-txt p {margin-bottom: 90px; text-align: center; font-weight: 300; font-size: 19px; line-height: 24px;}
.tele-content .white-line {max-width: 400px; width: 100%; height: 2px; background: #fff; margin: 0 auto;}
.tele-content .tele-checklist {margin-top: 50px; margin-bottom: 80px;}
.tele-checklist {width: 100%;}
.tele-checklist ul {width: 50%; padding: 0 60px; float: left;}
.tele-checklist ul li {padding-left: 55px; position: relative; font-weight: 300; font-size: 24px; line-height: 24px; margin-bottom: 15px;}
.tele-checklist ul li span {font-size: 19px;}
.tele-checklist ul li::before {content: ''; position: absolute; background: url(../images/done.png) no-repeat center center;
width: 36px; height: 27px; left: 0; top: -5px;}
.tele-content .tele-contact {text-align: center;}
.tele-content .tele-contact p.p-more {font-weight: 300; font-size: 32px; line-height: 40px; margin-bottom: 65px;}
.tele-content .tele-contact p.cont-us {font-weight: 300; font-size: 19px; line-height: 24px; margin-bottom: 35px;}





/**************SECURITY CAMERAS****/
.sec-cameras {background: #fff; color: #000; padding: 80px 0 125px;}
.sec-cameras h2 {font-size: 64px; line-height: 64px; font-weight: 500; text-align: center; text-transform: uppercase; margin-bottom: 60px;}
.sec-cam-cont .cam-info {max-width: 880px; width: 100%; text-align: center; margin: 0 auto; margin-bottom: 60px; }
.sec-cam-cont .cam-info p {font-weight: 300; font-size: 19px; line-height: 24px;}
.cam-list-img .cam-list,
.cam-list-img .cam-img {width: 50%; float: left;}
.cam-list-img .cam-list {padding-top: 40px;}
.cam-list-img .cam-list ul {width: 100%; padding: 0 60px; float: left;}
.cam-list-img .cam-list ul li {padding-left: 55px; position: relative; font-weight: 300; font-size: 24px; line-height: 24px; margin-bottom: 15px;}
.cam-list-img .cam-list ul li::before {content: ''; position: absolute; background: url(../images/done.png) no-repeat center center;
width: 36px; height: 27px; left: 0; top: -5px;}
.cam-list-img .cam-img {background: url(../images/cam-bg.png) no-repeat center center; width: 571px; height: 400px;}
.sec-cam-cont .sec-cam-contact {text-align: center; margin-top: 100px;}
.sec-cam-cont .sec-cam-contact p {font-weight: 300; font-size: 19px; line-height: 24px; margin-bottom: 35px;}








/****************REMOTE SUPPORT***/
.remote-support {padding: 165px 0 250px;}
.remote-support h2 {font-weight: 300; font-size: 24px; line-height: 32px; color: #c91586; margin-bottom: 50px;}
.ticket-chat {text-align: center;}
.ticket-chat .tick-ch-box {display: inline-block; vertical-align: top; text-align: center; width: 280px; height: 280px; background: #c91586; color: #fff;}
.ticket-chat a {color: #fff; display: block; height: 100%;}
.ticket-chat .tick-ch-box .tick-ch-inner {padding: 40px;}
.ticket-chat .tick-ch-box.marg {margin-right: 20px;}
.ticket-chat .tick-ch-box .tick-ch-inner h3 {font-weight: 500; font-size: 32px; line-height: 32px; margin-bottom: 30px;}
.remote-support .black-line {margin: auto; margin-top: 125px; margin-bottom: 80px;}

.report-problem h2 {font-weight: 500; font-size: 64px; line-height: 64px; margin-bottom: 65px; color: #000; text-align: center;}
.report-problem p {font-weight: 300; font-size: 24px; line-height: 32px; max-width: 630px; width: 100%; text-align: center; margin: 0 auto; margin-bottom: 30px;}
.report-problem p a {color: #c91586;}

.report-form {max-width: 825px; width: 100%; margin: 0 auto; margin-bottom: 20px;}
.report-form ul {width: 100%;}
.report-form ul li {width: 100%; margin-bottom: 20px;}
.report-form ul li:last-child {margin-bottom: 0;}
input[type='number'] {-moz-appearance: textfield;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {-webkit-appearance: none;}
.report-form ul li input,
textarea {box-shadow: 0 0 15px #ccc; border: none; padding: 30px; font-size: 24px; color: #555;}
.report-form ul li textarea {resize: none; width: 100%;}
.report-form ul li input::placeholder {color: #c9c9c9; font-weight: 300; font-size: 24px;}
.report-form ul li textarea::placeholder {font-family: 'Montserrat'; color: #c9c9c9; font-weight: 300; font-size: 24px;}
.report-form ul li input {height: 80px; width: 49%;}
.report-form ul li input[placeholder="Facility"] {width: 100%;}

.remote-support .screenshot-btn {text-align: center; margin-bottom: 60px;}
.remote-support .screenshot-btn button {max-width: 400px; width: 100%; position: relative;}
.remote-support .screenshot-btn button::before {content: ''; position: absolute; background: url(../images/plus.png) no-repeat center center;
width: 28px; height: 28px; left: 25px; top: 25px;}

.send-problem {text-align: center;}
.send-problem button {vertical-align: top;}
.not-robot {background: #f9f9f9; max-width: 300px; width: 100%; height: 75px; border: 1px solid #d3d3d3; border-radius: 2px; display: inline-block; margin-right: 60px;}
.not-robot .not-robot-inner {display: inline-block; vertical-align: top;}
.not-robot .not-robot-inner.robot-right {text-align: right; width: 40%;}
.not-robot-inner.robot-left {line-height: 75px; width: 55%; text-align: left; padding-left: 10px;}
.not-robot-inner.robot-left input[type="checkbox"] {display: none;}
.not-robot-inner.robot-left input[type="checkbox"] + label {position: relative; padding-left: 40px; cursor: pointer;}
.not-robot-inner.robot-left input[type="checkbox"] + label::before {content: ''; position: absolute; width: 28px; height: 28px; border: 2px solid #c1c1c1; border-radius: 2px;
left: 0; top: -8px;}
.not-robot-inner.robot-left input[type="checkbox"]:checked + label::before {content: '\2714'; font-size: 24px; line-height: 28px; text-align: center;}





/************REMOTE SUPPORT MODAL**/
.remote-support .modal {display: block; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; overflow: auto;
background-color: rgba(255,255,255,.7);}
.remote-support .modal .modal-content {max-width: 480px; width: 100%; min-height: 550px; background: #fff; text-align: center;
box-shadow: 0 0 25px rgba(0,0,0,.4); position: relative; padding: 35px 55px; top: 380px; margin: auto;}
.remote-support .modal .modal-content span.modal-close {position: absolute; width: 22px; height: 22px; right: 5px; top: 5px; cursor: pointer;
background: url(../images/modal-close.png) no-repeat center center;}
.remote-support .modal .modal-content h3 {font-weight: 500; font-size: 24px; line-height: 30px; color: #c91586; margin-bottom: 35px;}
.remote-support .modal .modal-content p {font-weight: 300; font-size: 16px; line-height: 24px; text-align: center; margin-bottom: 60px;}
span.pute-icon {background: url(../images/pute-icon.png) no-repeat center center; width: 21px; height: 25px; display: inline-block; vertical-align: sub;}




/*********APPLY***/
.apply {padding: 160px 0 200px;}
.apply h2 {margin-bottom: 35px;}
.apply .join {width: 100%; }
.apply .join h1 {font-weight: 500; font-size: 64px; line-height: 64px; margin-bottom: 65px; text-align: center;}
.apply .join p {font-weight: 300; font-size: 24px; line-height: 32px; text-align: center; max-width: 580px; width: 100%; margin: 0 auto; margin-bottom: 55px;}
.apply .join .join-form {max-width: 825px; width: 100%; margin: 0 auto; margin-bottom: 50px;}
.join-form form {width: 100%;}
.join-form form ul {width: 100%;}
.join-form form ul li {width: 100%; margin-bottom: 17px;}
.join-form form ul li:last-child {margin-bottom: 0;}
.join-form form ul li input {box-shadow: 0 0 15px #ccc; border: none; padding: 30px; font-size: 24px; color: #555;}
.join-form form ul li input::placeholder {color: #c9c9c9; font-weight: 300; font-size: 24px;}
.join-form form ul li input {height: 80px; width: 49%;}
.apply .join .resume-btn {text-align: center; margin-bottom: 50px;}
.apply .join .resume-btn button {max-width: 400px; width: 100%;}




/*************ORDER TONER****/
.join-form select {box-shadow: 0 0 15px #ccc; border: none; padding: 25px 0 25px 30px;-webkit-appearance: none; font-size: 24px; color: #555; width: 100%; height: 80px; font-weight: 300;}
.join-form select option {color: #555; font-weight: 300; font-size: 24px;}
.join-form select option:disabled {color: #c9c9c9;}
.join-form form ul li.select-arr {position: relative;}
.join-form form ul li.select-arr::after {position: absolute; content: ''; width: 20px; height: 11px; background: url(../images/select-arr-down.png) no-repeat center center;
right: 35px; bottom: 30px;}
.add-printer {margin-top: 35px; display: flex; align-items: center;}
a.add-printer-btn {margin-right: 15px; width: 50px; height: 50px; background: url(../images/add-printer-btn.png) no-repeat center center; background-color: #000; display: inline-block;}
.add-printer span a {font-weight: 300; font-size: 24px; line-height: 32px; color: #000;}





/*******ORDER SELECTION****/
.pick-col-col {margin-bottom: 25px;}
.pick-col-col .pick-col-wrap {min-width: 245px; display: inline-block;}
.pick-col-col .pick-col-wrap.marg {margin-right: 40px;}
.pick-col-wrap input[type="number"] {display: inline-block; width: 60px; height: 60px; float: right; padding: 0 8px; text-align: center;}
/* .pick-col-wrap input[type="checkbox"] {display: inline-block; width: 50px; height: 50px; box-shadow: none;} */
.join-form form ul li.order-pick {margin: 35px 0;}
.pick-col-wrap label {font-size: 24px; position: relative; bottom: 10px;}
.pick-col-wrap input[type="checkbox"] {display: none;}
.pick-col-wrap input[type="checkbox"]+label {margin-right: 10px;}
.pick-col-wrap input[type="checkbox"]+label::before {transition: all .1s ease; content: ''; position: relative; top: 15px; display: inline-block; width: 48px; height: 48px; border: 1px solid #a6a6a6; background-color: #e7e7e7; margin-right: 10px;}
.pick-col-wrap input[type="checkbox"]:checked+label::before {background: #e7e7e7 url(../images/done.png) no-repeat center center;}
.pick-col-wrap input[type="checkbox"]+label:hover {cursor: pointer;}
